h1,h2,h3,h4,h5,h6{ 

    font-family: "Roboto", serif; 

    transition: color 0.3s ease-in-out; 

    font-weight: 700; 

} 

p{ 

    font-family: "Roboto", serif; 

} 

.mb-5{ 

    margin-bottom: 5px; 

} 

.center-content{ 

 

        position: relative; 

        height: 100%; 

        height: calc(90vh - 80px); 

} 

.invalid-feedback{ 

    color: red; 

    font-size: 12px; 

    padding-top: 5px; 

} 

.main-title{ 

    font-weight: 700; 

    font-size: 24px; 

    color: #0c244c; 

} 

.go-back{ 

    text-decoration: none; 

    text-decoration: none; 

    font-size: 14px; 

    font-weight: 500; 

    color: #0c244ce8; 

    position: absolute; 

    top: 30px; 

    left: 50px; 

    display: block; 

    cursor: pointer; 

    display: flex; 

    align-items: center; 

    transition: transform 0.3s ease; 

    .material-icons 

    { 

        font-size: 20px; 

        margin-right: 6px;  transition: transform 0.3s ease; 

    } 

    &:hover{ 

    color: #0c244c; 

        .material-icons{ 

            transform: translateX(-2px); 

        } 

    } 

         

} 

.sub-heading-title{ 

    font-size: 16px; 

    line-height: 20px; 

    font-weight: 500; 

    color: #0c244ce8; 

} 

.p-unset{ 

  overflow: hidden; 

position: unset; 

margin-top: 30px; 

margin-left: 50px; 

width: 60%; 

} 

 

 

.fs-24{ 

    font-size: 24px; 

} 

.fs-18{ 

    font-size: 18px; 

} 

.fs-16{ 

    font-size: 16px; 

} 

.fs-15{ 

    font-size: 15px; 

} 

.text-center{ 

    text-align: center; 

} 

.text-start{ 

    text-align: start; 

} 

.fs-14{ 

    font-size: 14px; 

} 

.text-capitalize{ 

    text-transform: capitalize; 

} 

.form-label{ 

    font-size: 14px; 

    font-weight: 500; 

    display: block; 

   

  

} 

.pl-16{ 

    padding-left: 16px!important; 

} 

.d-flex{ 

    display: flex; 

    align-items: normal; 

    gap: 6px; 

} 

.m-8{ 

    margin:8px 0; 

} 

.mb-8{ 

    margin-bottom: 8px; 

} 

.center{ 

    height: 100%; 

    display: block; 

    margin: auto 

    ; 

} 

.m-h{ 

    min-height: 100vh; 

} 

.positon-center{ 

 display: grid; 

 position: relative; 

 height: 100%; 

 height: calc(100vh - 80px); 

 

} 

p{ 

  

    color: #666; 

  

    }  /* Custom scrollbar styles */ 

::-webkit-scrollbar { 

    width: 8px; 

} 

 

::-webkit-scrollbar-thumb { 

    background-color: #888; 

    border-radius: 10px; 

    border: 2px solid #ffffff; 

} 

 

::-webkit-scrollbar-track { 

    background-color: #f1f1f1; 

    border-radius: 10px; 

} 

.form-input{ 

  

    border: 1px solid rgba(207, 219, 213, .6); 

    width: 100%; 

    height: 48px; 

     

    border: 1px solid #b0b0b0; 

    background-color: #fff; 

    font-size: 14px; 

    font-weight: 400; 

    color: #1d1d1d; 

    padding: 0 16px 0 16px; 

    outline: none; 

  border-radius: 8px; 

    display: block; 

} 

 

.c-primary-btn,   .choose-file-btn{ 

    padding: 10px 20px; 

    background: var(--primary); 

    border: none; 

    border-radius: 5px; 

    color: #fff; 

    font-size: 16px; 

    font-weight: 500; 

    cursor: pointer; 

    margin-top: 10px; 

} 

.c-secondary-btn{ 

    background-color: #f6f8fa; 

    color: #0c244ce8;    padding: 10px 20px;  border: none;  font-size: 14px; 

    font-weight: 500; 

    cursor: pointer; 

    border-radius: 5px; 

    transition: all 0.2s ease; 

    &:hover{ 

        background-color: #f9f9f9; 

       

    } 

} 

.evaluate-bg{ 

    background-color: #dae9fe; 

    color: #4277d1; 

} 

.optimise-bg{ 

background-color: #dcfce7; 

color: #3ba45f; 

} 

.box-shadow-card{ 

    background-color: #ffffff; 

    padding: 25px 20px; 

    border-radius: 8px; 

    box-shadow: 0 1px 3px rgba(0,0,0,0.1); 

    border: 1px solid #E2E4E9; 

    align-self: center; 

    transition: box-shadow 0.2s; 

} 

.profile-section{ 

    background-color: #ffffff; 

    padding: 25px 20px; 

    border-radius: 8px; 

    margin: 20px auto; 

    max-width: 650px; 

    box-shadow: 0 2px 5px rgba(0,0,0,0.05); 

    border: 1px solid #E2E4E9; 

 

   

   

     

    .options{ 

        display: flex; 

        justify-content: space-around; 

        flex-wrap: wrap; 

        .option-card{ 

            background-color: #ffffff; 

            border-radius: 6px; 

            width: 100%; 

            padding: 20px; 

            box-shadow: 0 1px 3px rgba(0,0,0,0.1); 

            border: 1px solid #E2E4E9; 

            margin: 15px 0; 

            text-align: center; 

            transition: box-shadow 0.2s; 

            cursor: pointer; 

 

            &:hover{ 

                box-shadow: 0 3px 6px rgba(0,0,0,0.15); 

            } 

            &:last-child{ 

                margin-bottom: 0; 

            } 

            .option-card-icon{ 

              

             

                margin-bottom: 10px; 

 

                img{ 

                    width: 35px; 

                } 

            } 

            h2{ 

                font-size: 18px; 

                margin: 8px 0; 

            } 

            p{ 

                font-size: 14px; 

                color: #666; 

                margin:12px 0; 

            } 

        } 

        .choose-file-btn{ 

            padding: 10px 20px; 

            background: var(--primary); 

            border: none; 

            border-radius: 5px; 

            color: #fff; 

            font-size: 16px; 

            font-weight: 500; 

            cursor: pointer; 

            margin-top: 7px; 

        } 

    } 

   

} 

.linkedin-builder-container{ 

    background-color: #ffffff; 

    padding: 25px 20px; 

    border-radius: 8px; 

    margin: 20px auto; 

    max-width: 700px; 

    box-shadow: 0 2px 5px rgba(15, 11, 11, 0.05); 

    border: 1px solid #E2E4E9; 

} 

.optimizer-form{ 

    background-color: #ffffff; 

    padding: 25px 20px; 

    border-radius: 8px; 

    margin: 20px auto; 

    max-width: 480px; 

    box-shadow: 0 1px 3px rgba(0,0,0,0.1); 

    border: 1px solid #E2E4E9; 

    align-self: center; 

    transition: box-shadow 0.2s; 

            cursor: pointer; 

 

            &:hover{ 

                box-shadow: 0 3px 6px rgba(0,0,0,0.15); 

            } 

    .c-primary-btn{ 

        width: 100%; 

        display: block; 

        margin-top:20px; 

        display: flex 

; 

    align-items: center; 

    justify-content: center; 

 

        .material-icons{ 

            font-size: 24px; 

    margin-left: 3px; 

            transition: transform 0.3s ease; 

         

        } 

        &:hover{ 

             

            .material-icons{ 

                transform: translateX(5px); 

            } 

        } 

    } 

    .form-group{ 

        margin-top: 22px; 

    } 

} 

 

.show-user-profile-details{ 

    max-height: calc(90vh - 80px); 

    overflow-y: auto; 

    .import-profile-card{ 

        max-width: 70%; 

    } 

} 

.profile-page{ 

 

    .import-profile-card{ 

 

        margin: 30px 50px; 

  

        padding: 20px; 

    .sub-heading-title{ 

        color: #0c244cf0; 

    } 

       

    } 

    .import-profile-card-info{ 

        display: flex; 

        align-items: center; 

        gap: 30px; 

        margin-top: 8px; 

        img{ 

            width: 17px; 

        } 

    } 

    .section-header{ 

        display: flex; 

        align-items: center; 

        justify-content: space-between; 

        margin-bottom: 16px; 

        .section-title{ 

            font-size: 20px; 

            font-weight: 600; 

            color: #0c244c; 

     

        } 

    

       

    } 

    .section-action{ 

        display: flex; 

        align-items: center; 

        gap: 12px; 

        .c-secondary-btn{ 

            display: flex; 

            align-items: center; 

            gap: 6px; 

        } 

        .c-primary-btn{ 

            display: flex; 

            align-items: center; 

            gap: 6px; 

            font-size:14px; 

            margin-top: 0; 

        } 

      } 

    .summary-text p{ 

        font-size: 16px; 

        line-height: 1.6; 

        color: #0c244ce8; 

    } 

    .experience-item-header{ 

        display: flex; 

      

        justify-content: space-between; 

        margin-bottom: 12px; 

.item-title{ 

    font-size: 18px; 

    font-weight: 600; 

    color: #0c244c; 

} 

.item-company{ 

    font-size: 16px; 

    color: #0c244ce8; 

    text-transform: capitalize; 

    // margin-top: 5px; 

} 

.item-meta{ 

    text-align: right; 

    .item-location{ 

        font-size: 14px; 

        color: #0c244ce8; 

    } 

    .item-duration{ 

        font-size: 15px; 

        color: #0c244ce8; 

        font-weight: 500; 

    } 

} 

 

    } 

    .experience-item-list{ 

       

        padding-left: 35px; 

        margin-top: 20px; 

    li{ 

        position: relative; 

        padding-left: 0px; 

        margin-bottom: 20px; 

        color: #0c244ce8; 

        font-size: 14px; 

        list-style: disc; 

      

     } 

     

    } 

  

} 

 

.evaeluate-section{ 

 background-color: #dae9fe; 

  

 width: 90%; 

 margin-top: 30px; 

 border-radius: 8px; 

 padding-bottom: 4px; 

 position: sticky; 

 position: -webkit-sticky; 

top: 0; 

.experience-item-list{ 

    margin-top: 15px; 

    padding-left: 16px; 

} 

 .section-title{ 

    padding: 20px; 

 } 

 .import-profile-card{ 

    margin-left: 20px; 

    margin-right: 20px; 

    margin-top: 0; 

 } 

 .item-title{ 

    color: #49a8fa; 

    margin-bottom: 16px; 

   

 } 

} 

.w-40{ 

    width: 40%; 

 

    transition: all 0.3s ease; 

} 

 

.flex{ 

    display: flex; 

    align-items: flex-start; 

} 

.flex-container{ 

    display: flex; 

    justify-content: space-between; 

    align-items: center; 

} 

.profile-optimiser{ 

    width: 100%; 

    transition: all 0.3s ease; 

    display: flex; 

 

} 

.showevaluat .import-profile-card{ 

    margin-left: 0; 

} 

.w-50{ 

width: 100%; 

    transition: all 0.3s ease; 

} 

.profile-optimiser.split .w-50{ 

    width: 60%; 

} 

.w-100{ 

    width: 100%; 

    transition: all 0.3s ease; 

} 

 

.outer-container{ 

    background-color: #dcfce7; 

    width: 90%; 

    margin-top: 30px; 

    border-radius: 8px; 

    padding-bottom: 4px; 

    .section-title{ 

        padding: 20px; 

     } 

     .import-profile-card{ 

        margin-left: 20px; 

        margin-right: 20px; 

        margin-top: 0; 

     } 

 

    .content-box{ 

          

        padding: 15px; 

        border-radius: 8px; 

        font-size: 14px; 

        background-color: #f6f8fa; 

        color: #0c244c; 

        margin: 10px; 

        

    } 

    .divider-border{ 

        border: 1px solid #E2E4E9; 

    } 

    .c-version{ 

        .item-title{ 

            font-size: 15px; 

            color: #0c244ce8; 

        } 

    } 

    .o-version{ 

        .item-title{ 

            color: #65ba7c; 

            font-size: 15px; 

        } 

        .Optimized{ 

            background-color: #f1fef4; 

        } 

       

    } 

    .btn-actions{ 

        display: flex; 

        margin-top: 20px; 

        justify-content: end; 

        gap: 6px; 

        .btn{ 

            padding: 8px 14px; 

            border: none; 

            border-radius: 4px; 

            font-size: 14px; 

       cursor: pointer; 

        transition: background-color 0.3s; 

        text-align: center; 

        margin: 0 5x; 

        color: #fff; 

        } 

        .btn-approve{ 

            background-color: #f1fef4; 

            color: #3ba45f; 

         

        } 

        .btn-reject{ 

            background-color:#ed2f6b ; 

          

        } 

        .btn-rewrite{ 

            background-color: #dae9fe; 

            color: #4277d1; 

        } 

    } 

} 

.sec-fixed { 

    background-color: #ffffff; 

    padding: 20px; 

    border-radius: 8px; 

    margin: 20px; 

    margin-left: 50px; 

    box-shadow: 0 2px 5px rgba(15, 11, 11, 0.05); 

    border: 1px solid #E2E4E9; 

    max-height: calc(90vh - 80px); 

    overflow-y: auto; 

    transition: all 0.3s ease ease-in-out; 

    scroll-behavior: smooth; 

 

    .import-profile-card { 

        margin: 15px 0; 

    } 

 

   

 

   

} 

 

.optimizer-form{ 

    background-color: #ffffff; 

    padding: 25px 20px; 

    border-radius: 8px; 

    margin: 20px auto; 

    max-width: 650px; 

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); 

    border: 1px solid #E2E4E9; 

    overflow-y: auto; 

    max-height: calc(90vh - 80px); 

    h2{ 

        margin-bottom: 15px; 

        font-family: "Roboto", serif; 

        transition: color 0.3s ease-in-out; 

        font-weight: 700; 

    } 

.accordion-container{ 

    margin: 20px 0; 

   

   

} 

   

    .accodion-header-container{ 

        display: flex; 

        align-items: center; 

        gap: 10px; 

        .mat-icon{ 

            font-size: 24px; 

        } 

 

    } 

    .form-group{ 

 

        margin-top: 0; 

        margin-bottom: 15px; 

        &:last-child{ 

            margin-bottom: 0; 

        } 

    } 

.form-container{ 

        padding: 15px 10px!important; 

    } 

} 

 

.optimizer-form { 

    background-color: #ffffff; 

    padding: 25px 20px; 

    border-radius: 8px; 

    margin: 20px auto; 

    max-width: 650px; 

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); 

    border: 1px solid #E2E4E9; 

    overflow-y: auto; 

    max-height: calc(90vh - 80px); 

 

    .accordion-container { 

        margin: 20px 0; 

    } 

 

    .accodion-header-container { 

        display: flex; 

        align-items: center; 

        gap: 10px; 

 

        .mat-icon { 

            font-size: 24px; 

        } 

    } 

 

    .form-inline { 

        display: flex; 

        align-items: center; 

        gap: 10px; 

        .form-group { 

            margin: 0 0 15px 0; 

        } 

        .col-6 { 

            width: 50%; 

        } 

        .col-4 { 

            width: 33.33%; 

        } 

        .col-12{ 

            width: 100%; 

        } 

    } 

   

    .form-group { 

        margin: 0 0 15px 0; 

        .form-input { 

            height: 44px; 

        } 

        label { 

            font-size: 14px; 

            font-weight: 500; 

            display: block; 

            margin-bottom: 5px; 

        } 

        textarea.form-input { 

            height: 100px; 

            overflow-y: auto; 

            resize: none; 

            padding-top: 10px; 

        } 

 

        &:last-child { 

            margin-bottom: 0; 

        } 

    } 

 

    .form-container { 

        padding: 15px 10px !important; 

    } 

} 

.btn-end { 

    display: flex; 

    justify-content: flex-end; 

    .c-primary-btn { 

        padding: 8px 16px; 

        font-size: 14px; 

        border-radius: 4px; 

        background-color: var(--primary-dark); 

        color: #ffffff; 

        border: none; 

        cursor: pointer; 

        transition: all 0.2s ease-in-out; 

        display: flex; 

        align-items: center; 

        &:hover { 

            background-color: var(--secondary); 

            transform: translateY(-1px); 

        } 

 

        &:active { 

            transform: translateY(0); 

        } 

    } 

} 

//resume builder css 

.dialog-container { 

    background-color: #FFFFFF; 

    border-radius: 16px; 

    overflow: hidden; 

    max-height: calc(100vh - 40px); 

    min-width: calc(80vw); 

    

 

    mat-dialog-content { 

        min-height: 85vh; 

    } 

 

    .header-menu { 

        height: 54px; 

        display: flex; 

        align-items: center; 

        justify-content: space-between; 

        padding: 6px 14px; 

        border-bottom: 1px solid rgba(226, 228, 233, 1); 

        background-color: #874380; //need to work as it's faining for dark mode 

 

        .header { 

            flex-grow: 1; 

            text-align: center; 

            font-family: 'Roboto'; 

            font-size: 23px; 

            font-weight: 500; 

            color: #f2f2f2; 

        } 

 

        button { 

            background-size: 18px; 

            color: #f2f2f2; 

 

            &:hover { 

                background-color: #f2f2f2; 

            } 

        } 

    } 

 

    .dialog-body-container { 

        padding: 10px 30px; 

 

        .accodion-header-container { 

            display: flex; 

 

            mat-icon { 

                margin-right: 10px; 

            } 

 

            // &:hover{ 

            //     background-color: var(--primary-dark); 

            //     color:var(--grey-bg) 

            // } 

        } 

    } 

 

    .action-container { 

        display: flex; 

        flex-direction: row-reverse; 

        padding: 10px 30px; 

    } 

} 

 

::ng-deep body.dark-theme .header-menu{ 

    background-color: #874380 !important; 

} 

 

.primary-button-save { 

    border-radius: 8px; 

    background: #356bde; 

    height: 42px; 

    padding: 0 20px; 

    border: none; 

    outline: none; 

    cursor: pointer; 

    color: #FFF; 

    text-align: center; 

    font-family: var(--font-family); 

    font-size: 14px; 

    font-style: normal; 

    font-weight: 700; 

} 

 

.primary-button-save:disabled { 

    cursor: not-allowed; 

    opacity: 0.5; 

}